<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Desc</key>
		<string>Desc0</string>
		<key>Title</key>
		<string>Title0</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Desc1</string>
		<key>Title</key>
		<string>Title1</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Desc2</string>
		<key>Title</key>
		<string>Title2</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Desc3</string>
		<key>Title</key>
		<string>Title3</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Desc4</string>
		<key>Title</key>
		<string>Title4</string>
	</dict>
</array>
</plist>
